<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/process}" th:object="${course}" method="post">
        <input type="hidden" th:field="*{id}" />
        <p>Title :<input type="text" th:field="*{title}" /></p>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br />

        <p>Instructor :<input type="text" th:field="*{instructor}" /></p>
        <span th:if="${#fields.hasErrors('instructor')}" th:errors="*{instructor}"></span><br />

        <p>Description :<textarea rows="3" th:field="*{description}" /></p>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br />

        <p>Credits :<input type="text" th:field="*{credit}" /></p>
        <span th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}"></span><br />
        <br />

        <input type="submit" value="Submit" />
    </form>
</body>
</html>